* {
  box-sizing: border-box;
}

.app {
  direction: rtl;
}

.app .some-website-container {
  height: 3000px;
  padding-top: 100px;
}

.app .some-website-container .logo {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/7/74/Apple_logo_dark_grey.svg/1200px-Apple_logo_dark_grey.svg.png);
  width: 200px;
  height: 250px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: auto;
}

.chat-container {
  position: fixed;
  right: 10px;
  width: 300px;
  bottom: 0;
}

.chat-container .open-chat-button {
  background: blue;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  cursor: pointer;
  user-select: none;
}

.chat-container .chat-window {
  height: 400px;
  border: 1px solid #ccc;
}

.form-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

 .title {
  margin-bottom: 20px;
  font-size: 20px;
}

.form-container .form {
  padding: 20px 0;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.form-container .form .submit-button {
  background-color: #4d90fe;
  color: white;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  cursor: pointer;
  user-select: none;
}

.form-container .form .submit-button:hover {
  background-color: #5486da;
}


.form-container .form #register-button {
  margin-top: 15px;
  color: #4d90fe;
}

.input {
  width: 70%;
  line-height: 40px;
  margin: 10px 0;
  border-radius: 0px;
  border: 1px solid #ccc;
  padding-right: 10px;
  font-size: 16px;
}
