* {
  box-sizing: border-box;
}

.app {
  direction: rtl;
}

.app .header {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  /*box-shadow: 0px 0px 9px 3px rgba(41,41,41,.25);*/
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

.app .some-website-container {
  height: 3000px;
  padding-top: 100px;
}

.app .some-website-container .logo {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/7/74/Apple_logo_dark_grey.svg/1200px-Apple_logo_dark_grey.svg.png);
  width: 200px;
  height: 250px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: auto;
}


.form-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

 .title {
  margin-bottom: 20px;
  font-size: 20px;
  text-align: center;
}

.form-container .form {
  padding: 20px 0;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.form-container .form .submit-button {
  background-color: #4d90fe;
  color: white;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  cursor: pointer;
  user-select: none;
}

.form-container .form .submit-button:hover {
  background-color: #5486da;
}


.form-container .form .secondary-button {
  margin-top: 15px;
  color: #4d90fe;
}

.error-message {
  width: 70%;
  /*border: 1px solid #ccc;*/
  background: #ed4337;
  color: white;
  line-height: 40px;
  font-size: 16px;
  text-align: center;
  margin-bottom: 15px;
}

.input {
  width: 70%;
  line-height: 40px;
  margin: 10px 0;
  border-radius: 0px;
  border: 1px solid #ccc;
  padding-right: 10px;
  font-size: 16px;

}

.chat-container {
  position: fixed;
  right: 10px;
  bottom: 10px;
  overflow: scroll;
  display: flex;
  align-items: flex-end;
  pointer-events: none;
}

.chat-container .open-chat-button {
  background: #4169E1;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  cursor: pointer;
  user-select: none;
  border-radius: 50%;
  background-image: url(https://d3ooc9jud7priz.cloudfront.net/public/uploads/company_images/files/000/019/950/medium/twitter.png?1562328357);
  background-size: 45%;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: all;
  position: relative;
}

.chat-container .open-chat-button .agent-online-or-offline {
  border-radius: 50%;
  padding: 47px;
  position: absolute;
  border: 3px solid red;
}

.chat-container .open-chat-button .online {
  border: 3px solid #7FFF00;
}

.chat-container .chat-window .messages-container {
  height: 350px;
  border: 1px solid #ccc;
  overflow: scroll;
  width: 300px;
  background-color: white;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 8px 12px;
  padding-top: 3px;
}

.chat-container .chat-window .chat-header {
  height: 60px;
  background-color: #4169E1;
  color: white;
  font-size: 18px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.chat-container .chat-window {
  transition: 0.5s opacity ease-in-out, 0.5s transform ease-in-out;
  opacity: 0;
  transform: translateX(100px);
  pointer-events: none;
  margin-bottom: 25px;
  margin-right: 15px;
}

.chat-container .chat-window.visible {
  opacity: 1;
  transform: translateX(0);
  pointer-events: all;
}

.chat-input{
  height: 50px;
  width: 100%;
  border-radius: 30px;
  border: 1px solid #ccc;
  position: relative;
  padding-right: 22px;
  padding-left: 15px;
  padding-top: 10px;
  background: white;
  max-width: 300px;
  overflow: scroll;

}

.chat-input:focus {
  outline: none;
}

.chat-container .chat-window:before {
  content: ' ';
  border: 1px solid #ccc;
  background-color: white;
  position: absolute;
  bottom: 14px;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  z-index: 1;
  right: -6px;
  border-left: none;
  border-bottom: none;
}

.message-text{
  background-color: #4169E1;
  border-radius: 25px;
  padding: 3px;
  line-height: 1.7;
  display: inline-block;
  padding: 10px 15px;
  color: white;
  font-size: 13px;
  max-width: 250px;
}

.message-text-Agent{
  background-color: green;
  background-color: #ccc;
  color: #333
}


.all-Item{
  text-decoration: underline;
}

.item-Text{
  margin-right: 10px;
}

.users-messages{
  overflow-wrap: break-word;
  margin-top: 5px;
}

.Agent{
   direction: ltr;
  overflow-wrap: break-word;
}

.loading {
  animation: loading 0.75s ease-in-out infinite;
  text-align: center;
}

.online-message {
  position: absolute;
  top: 8px;
}

.offline-message {
  position: absolute;
  top: 8px;
}

@keyframes loading {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.list-input{
  width: 500px;
  text-align: center;
  display: flex;
  line-height: 30px;
  margin: 10px 0;
  border-radius: 0px;
  border: 1px solid #ccc;
  padding-right: 10px;
  font-size: 16px;
  margin: auto;
}