* {
  box-sizing: border-box;
}

.app {
  direction: rtl;
}

.app .some-website-container {
  height: 3000px;
  padding-top: 100px;
}

.app .some-website-container .logo {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/7/74/Apple_logo_dark_grey.svg/1200px-Apple_logo_dark_grey.svg.png);
  width: 200px;
  height: 250px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: auto;
}


.form-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

 .title {
  margin-bottom: 20px;
  font-size: 20px;
  text-align: center;
}

.form-container .form {
  padding: 20px 0;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.form-container .form .submit-button {
  background-color: #4d90fe;
  color: white;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  cursor: pointer;
  user-select: none;
}

.form-container .form .submit-button:hover {
  background-color: #5486da;
}


.form-container .form .secondary-button {
  margin-top: 15px;
  color: #4d90fe;
}

.input {
  width: 70%;
  line-height: 40px;
  margin: 10px 0;
  border-radius: 0px;
  border: 1px solid #ccc;
  padding-right: 10px;
  font-size: 16px;
}

.chat-container {
  position: fixed;
  right: 10px;
  width: 300px;
  bottom: 0;
  text-orientation: mixed | upright | sideways;
  overflow: scroll;
}

.chat-container .open-chat-button {
  /*position: sticky;*/
  background: #4169E1;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  cursor: pointer;
  user-select: none;

}

.chat-container .chat-window .messages-container {
  height: 350px;
  border: 1px solid #ccc;
  overflow: scroll;
}

.chat-input{
  height: 30px;
  width: 100%;
}

.message-text{
  background-color: #ADD8E6;
  border: 1px solid black;
  border-radius: 25px;
  padding: 3px;
  line-height: 1.7;
  display: inline-block;
  margin-left: 10px;
}

.calls-History{
  width: 750px;
  height: 50px;
  margin: auto;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.all-Item{
  text-decoration: underline;
}

.item-Text{
  margin-right: 10px;
}

.users-messages{
  text-decoration: rtl;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
  overflow-wrap: break-word;
}

.Me{
   direction: ltr;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 3px;
  overflow-wrap: break-word;
}

.loading {
  animation: loading 0.75s ease-in-out infinite;
  text-align: center;
}

@keyframes loading {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}